# Autosave files
*~

# build
[Oo]bj/
[Bb]in/
packages/
TestResults/

# globs
Makefile.in
*.DS_Store
*.sln.cache
*.suo
*.cache
*.pidb
*.userprefs
*.usertasks
config.log
config.make
config.status
aclocal.m4
install-sh
autom4te.cache/
*.user
*.tar.gz
tarballs/
test-results/
Thumbs.db

# Mac bundle stuff
*.dmg
*.app

# resharper
*_Resharper.*
*.Resharper

# dotCover
*.dotCover
*.idea
.vs
cmd/cli/standalone
coverage.html
test.gpg
c.out
__master*
cover.out
tmp
qrs.coverprofile
cmd/server/users.json
cmd/server/out
cmd/cli/out
bins
zips
server/users.json
cmd/server/remoteSigner-linux*
cmd/server/remoteSigner-macosx*
cmd/cli/keys
tests/metadata-*

vault.log
keymagic/rethinkdb_data
server/rethinkdb_data
cmd/server/RemoteSigner_Server
cmd/server/server

cmd/lib/*.dylib
cmd/lib/*.so
cmd/lib/*.dll
cmd/lib/chevron.h
cmd/lib/chevron32.h
